<div class="main-content">
  <div class="chat">
    <div class="header">
      <div class="title">{{titles.aiPrescriptionAssistant}}</div>
      <div class="description">{{paragraphs.addManySymptoms}}</div>
    </div>
    <div class="symptom-input">
      <input
        type="text"
        placeholder="Enter your symptoms"
        [(ngModel)]="symptom"
        (keydown.enter)="addSymptom()"
      />
      <div class="mic-btn">
      <app-speech-recognition (speechData)="handleSpeechData($event)"></app-speech-recognition>
    </div>
      <div
        class="add-btn"
        [ngClass]="{'disable-btn': !symptom, 'enable-btn': symptom}"
        (click)="addSymptom()"
      >
        {{buttons.add}}
      </div>
    </div>
    <div class="allergies symptom-input">
      <input
        type="text"
        [(ngModel)]="allergies"
        [placeholder]="paragraphs.doYouHaveAllergies"
      />
    </div>

    <div class="medicine-type">
      <select [(ngModel)]="medicineType" class="custom-select">
        <option
          *ngFor="let medicineTypeName of titles.medicineType"
          [value]="medicineTypeName"
        >
          {{medicineTypeName | titlecase}}
        </option>
      </select>
    </div>

    <div class="symptoms-collection">
      <div class="symptom" *ngFor="let symptom of symptoms; let i =index;">
        {{symptom | titlecase}}
        <img
          src="assets/images/icons/cross.svg"
          alt="cross"
          (click)="removeSymptom(i)"
        />
      </div>
    </div>
    <div class="show-prescription">
      <button
        class="primary-btn"
        [ngClass]="{'disable-btn': !symptoms.length, 'enable-btn': symptoms.length}"
        (click)="fetchApi()"
      >
        {{buttons.showPrescription}}
      </button>
    </div>
  </div>
</div>
