.main-content{
    background: url(../../../assets/images/icons/chat-bot.svg);
    height: 100vh;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    .chat{
        margin: 50px 200px;
        background: var(--white-color);
        border-radius: 24px;
        padding: 30px;
        box-shadow: 0px 2px 8px 0px #0000000A, 0px 6px 16px 4px #0000000A;
        .header{
            margin: 20px 0px;
            text-align: center;
            .title{
                font-size: 40px;
                margin-bottom: 30px;
                color: var(--almost-black);
            }
            .description{
                font-size: 18px;
                color: var(--gray-color);
            }
        }
        .symptom-input{
            text-align: center;
            position: relative;
            input{
                width: 646px;
                height: 70px;
                border-radius: 12px;
                padding-left: 30px;
                outline: none;
                border: 1px solid var(--white-shade);
            }
            .add-btn{
                position: absolute;
                top: 11px;
                right: 12px;
                color: var(--white-color);
                font-weight: 700;
                padding: 15px 20px;
                border-radius: 12px;
            }
        }

        .allergies{
            margin-top: 10px;
        }

        .medicine-type{
            width: 100%;
            margin-top: 10px;
            position: relative;
            select{
                width: 100%;
                border-radius: 12px;
                padding-left: 30px;
                outline: none;
                border: 1px solid var(--white-shade);
                height: 70px;
            }
        }

        .custom-select {
            width: 100%;
            padding: 8px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('../../../assets/images/icons/down-arrow.svg') no-repeat right 16px center;
            background-color: var(--white-color);
            background-size: 12px;
            border: 1px solid var(--light-gray);
            border-radius: 4px;
            padding-right: 30px;
        }

        .show-prescription{
            // margin: 0px 300px;
        }

        .symptoms-collection{
            margin: 20px 0px;
            display: flex;
            align-items: center;
            gap: 10px;
            .symptom{
                height: 40px;
                width: fit-content;
                background: var(--secondary-color);
                padding: 0px 25px;
                display: flex;
                align-items: center;
                border-radius: 12px;
                font-weight: 500;
                gap: 10px;
                img{
                    cursor: pointer;
                }
            }
        }
    }
}