<div class="main-content">
  <div class="header">
    <div class="header-left">
      <div><img src="../../../assets/images/logo.svg" /></div>
      <h3>{{titles.mediMindAI}}</h3>
    </div>
    <div class="header-right">
      <h4>{{titles.searchMedicine}}</h4>
      <h4>{{titles.loginSignup}}</h4>
    </div>
  </div>
  <div class="main-card">
    <div class="main-card-left">
      <h3>{{titles.landingPageTitle}}</h3>
      <p>{{paragraphs.landingPagePara}}</p>
      <button>{{buttons.getStarted}}</button>
    </div>
    <div class="main-card-right">
      <img
        src="../../../assets/images/landing-page/prescription-sample-1.svg"
      />
    </div>
  </div>
  <div class="symptom-cards"></div>
  <div class="login-card"></div>
  <div class="about-card"></div>
</div>
