<div class="main-content">
  <div class="header">
    <div class="header-left">
      <div class="logo"><img [src]="images.appLogo" alt=""/></div>
      <h3>{{titles.mediMindAI}}</h3>
    </div>
    <div class="header-right">
      <h4 (click)="scrollToSection('medicine-section')">{{titles.searchMedicine}}</h4>
      <h4 (click)="scrollToSection('login-section')">{{titles.loginSignup}}</h4>
    </div>
  </div>
  <div class="main-card">
    <div class="main-card-left">
      <h1>{{titles.landingPageTitle}}</h1>
      <p>{{paragraphs.landingPagePara}}</p>
      <button class="primary-btn" (click)="scrollToSection('login-section')">
        {{buttons.getStarted}}
      </button>
    </div>
    <div class="main-card-right">
      <img [src]="images.prescriptionCover" />
    </div>
  </div>
  <div class="divider"></div>
  <div class="symptom-cards">
    <div class="symptom-card" *ngFor="let img of images.illnessImgs">
      <img [src]="img" alt="img" />
    </div>
  </div>
  <div class="divider"></div>
  <div class="login-card" id="login-section">
    <div class="login-image">
      <img [src]="images.loginPrescription" alt=""/>
    </div>
    <div class="login-form">
      <app-login *ngIf="isLogin" (onSwitch)="onLoginChange($event)"></app-login>
      <app-signup
        *ngIf="!isLogin"
        (onSwitch)="onLoginChange($event)"
      ></app-signup>
    </div>
  </div>
  <div class="divider"></div>
  <div class="search-medicine">
    <div class="search-med-head" id="medicine-section">Search Medicines</div>
    <div class="search-input">
      <input
        type="text"
        placeholder="Search medicine by name or salt name."
        [(ngModel)]="searchMedicine"
        (input)="onSearch()"
      />
    </div>
    <div class="searched-medicines" *ngIf="medicines.length">
      <div class="medicines" *ngFor="let medicine of medicines;">
        <div class="medi-img">
          <img [src]="medicine.image_url" alt="medicine" />
        </div>
        <div class="medicine-details">
          <div class="name">{{medicine.name}}</div>
          <div class="other-details">{{medicine.composition}}</div>
          <div class="other-details"><span>Uses: </span>{{medicine.uses}}</div>
          <div class="other-details side-effects">
            {{medicine.side_effects}}
          </div>
          <div class="other-details">
            <span>Review in percentage </span>
            {{medicine.excellent_review_percent}}%
          </div>
        </div>
      </div>
    </div>
    <div class="no-results" *ngIf="!medicines.length">
      No results found. Please try searching with a different medicine name or
      salt.
    </div>
  </div>
</div>
