<div class="prescription" *ngIf="prescription">
  <div class="profile-profile">
    <div>
      <img src="../../../assets/images/landing-page/dentist.svg" />
    </div>
    <div class="patient-info">
      <h3>Abhinav Singh</h3>
      <h5>21 years old</h5>
      <h5>80 KG</h5>
    </div>
  </div>
  <div class="prescription-info">
    <div class="description"></div>
  </div>
  <!-- <div>
    <div class="title">Description</div>
    <div>{{ prescription.description }}</div>
  </div>

  <div>
    <div class="title">Medicine based on {{ prescription.symptoms }}</div>
    <div *ngFor="let medicine of prescription.medicines">
      {{ medicine.medicineName }} ({{ medicine.saltName }}) Dosage({{
        medicine.dosage
      }})
    </div>
  </div>

  <div>
    <div class="title">Number of Days</div>
    <div>{{ prescription.numberOfDays }}</div>
  </div>

  <div>
    <div class="title">Precautions</div>
    <div *ngFor="let precaution of prescription.precautions; let i = index">
      {{ i }}. {{ precaution }}
    </div>
  </div>

  <div>
    <div class="title">Home Remedies</div>
    <div *ngFor="let homeRemedy of prescription.homeRemedies; let i = index">
      {{ i }}. {{ homeRemedy }}
    </div>
  </div>

  <div>
    <div class="title">Diet Plan</div>
    <div *ngFor="let diet of prescription.dietPlan; let i = index">
      {{ i }}. {{ diet }}
    </div>
  </div>

  <div>
    <div class="title">Doctor's Nearby you</div>
    <div
      *ngFor="
        let doctor of prescription.nearby5DoctorAccordingToMySymptom;
        let i = index
      "
    >
      {{ i }}. {{ doctor.doctorname }} Timings({{ doctor.timings }})
    </div>
  </div> -->
</div>
