.prescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title{
        color: var(--light-gray);
        font-size: 16px;
        font-weight: 700;

    }
    .prescription-container{
        border: 1px solid var(--white-shade);
        border-radius: 12px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
    }
    .patient-profile{

        .patient-img{
            border-radius: 50%;
            background: var(--secondary-color);
            width: 150px;
            height: 150px;
            img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
        .patient-info{
            line-height: 20px;
            h3{
                font-weight: 500;
            }
            h5{
                font-size: 12px;
                font-weight: 400;
                color: var(--gray-color);
            }
        }
    }
    .prescription-info{
        line-height: 25px;
        .description{
            .title{
                color: var(--primary-color);
            }
            .label{
                font-size: 14px;
            }
        }
    }

    .precautions-info{
        .title{
            color: var(--primary-color);
        }
        ul{
            padding-left: 13px;
            font-size: 14px;
        }
    }
    .no-wrap{
        width: 100%;
        white-space: nowrap;
        .doctors-info{
            overflow: scroll;
            .nearby-doctor{
                width: 200px;
                height: fit-content;
                background: var(--secondary-color);
                padding: 20px;
                border-radius: 8px;
                .doctor-name{
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    img{
                        border-radius: 50%;
                        border: 1px solid #b9b6b6;
                        width: 12px;
                    }
                }
                .rating{
                    font-size: 14px;
                }
                .timings{
                    font-size: 14px;
                }
            }
        }
    }
}

button {
  background: none; /* Remove the default button background */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
  padding: 0; /* Remove padding */
  position: absolute;
  right: 53px;
  top: 135px;

  img {
    width: 30px; /* Set width for the icon */
    height: 28px; /* Set height for the icon */
  }
}
