/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
}

button {
  &.primary {
    border: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 12px;
    text-transform: uppercase;
    background-color: var(--primary-color);
  }
}

html, body { height: 100%; }

h1, h2, h3, h4, h5 {
    margin: 0px;
}

p{
    margin: 0px;
}

input{
  margin: 0px;
  padding: 0px;
}

.primary-btn{
    background-color: var(--primary-color);
    height: 64px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 12px;
    border: 0;
    outline: none;
    cursor: pointer;
}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.divider{
  background: var(--white-shade);
  margin: 45px 0px;
  height: 1px;
}

.disable-btn{
  background: var(--gray-color);
  cursor: not-allowed;
}

.enable-btn{
  background: var(--primary-color);
  cursor: pointer;
}

.prescription-fiter-dialog .mat-mdc-dialog-container .mdc-dialog__surface{
  border-radius: 24px!important;
}