:root {
  --primary-color: #6768ca;
  --background-color: #007bff;
  --secondary-color: #f0eef8;
  --white-color: #ffffff;
  --almost-black: #303030;
  --gray-color: #6a6969;
  --llight-gray: #a1a1a1;
}
