:root {
  --primary-color: #6768ca;
  --background-color: #007bff;
  --secondary-color: #f0eef8;
  --tertiary-color: #8586C4;
  --white-color: #ffffff;
  --white-shade: #E1E1E1; 
  --almost-black: #303030;
  --gray-color: #6a6969;
  --light-gray: #a1a1a1;
  --light-black: rgba(56, 56, 56, 0.8);
}
