<div class="dashboard">
  <section class="left">
    <div class="container">
      <div class="title">{{titles.healthOverview}}</div>
      <div class="health-overview">
        <div *ngFor="let metric of healthMetrics" class="card">
          <div class="card-body">
            <div class="grid-container">
              <div
                class="icon-container"
                [ngStyle]="{'background-color': metric.bgColor}"
              >
                <img
                  [src]="metric.icon"
                  alt="{{ metric.title }} icon"
                  class="icon"
                />
              </div>
              <div class="text-container">
                <h5 class="card-title">{{ metric.title | titlecase }}</h5>
              </div>
            </div>

            <div class="metric-info">
              <span class="font-family metric-value">{{ metric.value }}</span>
              <span class="font-family metric-unit">{{ metric.unit }}</span>
            </div>

            <span class="badge" [ngStyle]="{'background-color': metric.bgColor}"
              >{{ getStatus(metric) }}</span
            >
            <mat-progress-bar
              *ngIf="isGoogleFit"
              [style.--mdc-linear-progress-active-indicator-color]="metric.bgColor"
              mode="determinate"
              [value]="clamp(metric.progress, metric.minValue, metric.maxValue)"
            ></mat-progress-bar>
          </div>
        </div>
      </div>

      <div class="activity-growth">
        <app-activity-growth-chart [data]="barData"></app-activity-growth-chart>
      </div>

      <div
        class="previous-prescription"
        *ngIf="previousPrescription && previousPrescription.created_at"
      >
        <div class="previous-prescription-title">
          {{titles.previousPrescription}}
        </div>
        <div class="previous-prescription-info">
          <div class="previous-prescription-info-label">
            {{previousPrescription.created_at | date: 'MMM d, y, h:mm a'}}
          </div>
          <div
            class="previous-prescription-info-value resolved custom-ellipsis"
          >
            {{previousPrescription.symptoms}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="right">
    <div class="header">
      <span>{{titles.bmi}}</span>
    </div>
    <div class="bmi">
      <div class="physique">
        <div class="height-weight height">
          <img [src]="images.scale" alt="" />
          <div class="height-weight-value">
            <label>{{titles.height}}</label>
            <span *ngIf="userInfo">{{height}}cm</span>
            <span *ngIf="!userInfo">{{height}}cm</span>
          </div>
        </div>
        <div class="height-weight weight">
          <img [src]="images.scale" alt="" />
          <div class="height-weight-value">
            <label>{{titles.weight}}</label>
            <span>{{weight}} Kg</span>
          </div>
        </div>
      </div>
      <div class="bmi-scale">
        <span class="bmi-title">{{titles.bodyMassIndex}}</span>
        <div class="bmi-value-container">
          <span class="bmi-value">{{bmiValue}}</span>
          <span class="bmi-status">{{bmiStatus}}</span>
        </div>
        <div class="bmi-progress">
          <mat-progress-bar
            mode="determinate"
            [value]="getBmiProgressBarValue()"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="measurements-container">
      <div class="measurements">
        <div class="measurements-header">
          <span class="title">{{titles.bodyMeasurement}}</span>
          <span class="body-type">{{titles.invertedTraingleShape}}</span>
        </div>
        <div class="measurements-details">
          <span class="measurements-detail chest">
            <label>{{titles.chest}}</label>
            <span>44.5</span>
          </span>
          <span class="measurements-detail waist">
            <label>{{titles.waist}}</label>
            <span>34</span>
          </span>
          <span class="measurements-detail hip">
            <label>{{titles.hip}}</label>
            <span>42.5</span>
          </span>
        </div>
      </div>
      <img class="human-img" [src]="humanBodyImage" alt="Human Body" />
    </div>
  </section>
</div>
