<div class="dashboard">
  <section class="left"></section>
  <section class="right">
    <div class="header">
      <span>Body Mass Index (BMI)</span>
    </div>
    <div class="bmi">
      <div class="physique">
        <div class="height-weight height">
          <img src="assets/images/scale.svg" alt="" />
          <div class="height-weight-value">
            <label>Height</label>
            <span>170 cm</span>
          </div>
        </div>
        <div class="height-weight weight">
          <img src="assets/images/scale.svg" alt="" />
          <div class="height-weight-value">
            <label>Weight</label>
            <span>72 kg</span>
          </div>
        </div>
      </div>
      <div class="bmi-scale">
        <span class="bmi-title">Body Mass Index</span>
        <div class="bmi-value-container">
          <span class="bmi-value">24.9</span>
          <span class="bmi-status">You're healthy</span>
        </div>
        <div class="bmi-progress">
          <mat-progress-bar
            mode="determinate"
            [value]="getBmiProgressBarValue()"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="measurements-container">
      <div class="measurements">
        <div class="measurements-header">
          <span class="title">Body Measurements</span>
          <span class="body-type">Inverted triangle body shape</span>
        </div>
        <div class="measurements-details">
          <span class="measurements-detail chest">
            <label>Chest (in)</label>
            <span>44.5</span>
          </span>
          <span class="measurements-detail waist">
            <label>Waist (in)</label>
            <span>34</span>
          </span>
          <span class="measurements-detail hip">
            <label>Hip (in)</label>
            <span>42.5</span>
          </span>
        </div>
      </div>
      <img src="assets/images/human-body.svg" alt="" />
    </div>
  </section>
</div>
